html,
body {
  background-color: #f8b3cc;
  height: 100%;
}

.btn-easier {
  background-color: #db5c87;
  border: 1px solid #9d173c;
  color: #fff !important;
}
.btn-easier:hover {
  opacity: 0.9;
}

.font-size-16 {
  font-size: 16px;
}

.notification {
  position: absolute;
  width: 100%;
}

.img-inv {
  border-bottom: 1px solid #ccc;
}
.img-not-final {
  height: 145px;
}

.form-investir {
  /* border: 1px solid #fff; */
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.form-investir input {
  background-color: #f8b3cc;
  border: 1px solid #fd6ea3;
}

.form-investir input:active,
.form-investir input:focus {
  background-color: #f8b3cc;
  border: 1px solid #fd6ea3 !important;
}
